<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>ARCHIVOS</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="layout/navegacion :: navegacion"></section>
        <div class="container-fluid">
            <div class="row"></div>
            <div class="">
                
            </div>
        </div>
    </body>
</html>
