<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>BOTONES AGREGAR</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="agregarRegistro" class="btn btn-primary btn-block"
                           data-toggle="modal" data-target="#agregarRegistro">
                            <i class="fas fa-plus"></i>[[#{accion.agregar}]]
                        </a>
                    </div>
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                        <div class="dropdown">
                            <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus"></i> [[#{accion.crear}]]
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="agregarRegistroWord">
                                    <i class="fas fa-file-word"></i> Word
                                </a>
                                <a class="dropdown-item" href="agregarRegistroExcel">
                                    <i class="fas fa-file-excel"></i> Excel
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>
