<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>BOTONES EDITAR</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="botonesEditar">
            <div id="action" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left">[[#{accion.retornar}]]</i>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i>[[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/eliminar/}+${registro.idregistro}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i>[[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>