<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Contactos</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div class="container-fluid">
            <div class="row">
                <br> 
                <div class="col-md-3">
                    <nav th:replace="layout/navegacion :: navegacion"></nav>
                </div>

                <div class="col-md-9">
                    <br>
                    <!-- Para buscar la tarjeta -->
                    <input type="text" class="form-control search-input" placeholder="Buscar por nombre" oninput="buscarContacto(this.value)">
                    <div class="row">
                        <div class="col-md-6">
                            <br>
                            <div class="card" style="border: 2px solid cadetblue;">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-4">
                                        <img src="https://img.freepik.com/foto-gratis/worldface-hombre-espanol-fondo-blanco_53876-139733.jpg?size=626&ext=jpg&ga=GA1.1.34264412.1716854400&semt=sph" class="card-img rounded-circle" alt="Perfil">
                                    </div>
                                    <div class="col-md-8">
                                        <small>
                                            <div class="card-body"; style="font-size: 10px" >
                                                <h6 class="card-title mb-0">Omar Salazar Gonzales</h6>
                                                <p class="card-text mb-0">Cargo: Director General - INSO</p>
                                                <p class="card-text mb-0">Teléfono: +123 456 789</p>
                                                <p class="card-text mb-0">Correo electrónico: omar@example.com</p>
                                                <p class="card-text mb-0">Ubicación: La Paz, Bolivia</p>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <br>
                            <div class="card" style="border: 2px solid cadetblue;">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-4">
                                        <img src="https://i.pinimg.com/564x/55/01/31/55013158dc63a0da0e7baa6bedef12b8.jpg" style="height:90px; width: 90px;" class="card-img rounded-circle" alt="Perfil">
                                    </div>
                                    <div class="col-md-8">
                                        <small>
                                            <div class="card-body"; style="font-size: 10px" >
                                                <h6 class="card-title mb-0">Fernanda Iker Solares</h6>
                                                <p class="card-text mb-0">Cargo: Jefa de RRHH - DELAPAZ</p>
                                                <p class="card-text mb-0">Teléfono: +123 456 789</p>
                                                <p class="card-text mb-0">Correo electrónico: ferker@example.com</p>
                                                <p class="card-text mb-0">Ubicación: La Paz, Bolvia</p>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <div class="card" style="border: 2px solid cadetblue;">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-4">
                                        <img src="https://i.pinimg.com/564x/36/a2/e2/36a2e242bfe3ac039e0618fbaaef7596.jpg" style="height:90px; width: 90px; "class="card-img rounded-circle" alt="Perfil">
                                    </div>
                                    <div class="col-md-8">
                                        <small>
                                            <div class="card-body"; style="font-size: 10px" >
                                                <h6 class="card-title mb-0">Santiago Santander</h6>
                                                <p class="card-text mb-0">Cargo: Director General - TECBOL</p>
                                                <p class="card-text mb-0">Teléfono: +123 456 789</p>
                                                <p class="card-text mb-0">Correo electrónico: correo@example.com</p>
                                                <p class="card-text mb-0">Ubicación: Ciudad, País</p>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div> 
                        <div class="col-md-6">
                            <br>
                            <div class="card" style="border: 2px solid cadetblue;">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-4">
                                        <img src="https://i.pinimg.com/564x/4d/9c/34/4d9c34104c98b22ea66bf6b8f64ff5b6.jpg" style="height:90px; width: 90px" class="card-img rounded-circle" alt="Perfil">
                                    </div>
                                    <div class="col-md-8">
                                        <small>
                                            <div class="card-body"; style="font-size: 10px" >
                                                <h6 class="card-title mb-0">Tonny Kros Lunk</h6>
                                                <p class="card-text mb-0">Cargo: Director General - BNB</p>
                                                <p class="card-text mb-0">Teléfono: +123 456 789</p>
                                                <p class="card-text mb-0">Correo electrónico: correo@example.com</p>
                                                <p class="card-text mb-0">Ubicación: Ciudad, País</p>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <div class="card" style="border: 2px solid cadetblue;">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-4">
                                        <img src="https://i.pinimg.com/564x/4a/e6/6b/4ae66bc42a61773cea1d2a022cec02cb.jpg" style="height:90px; width: 90px" class="card-img rounded-circle" alt="Perfil">
                                    </div>
                                    <div class="col-md-8">
                                        <small>
                                            <div class="card-body"; style="font-size: 10px" >
                                                <h6 class="card-title mb-0">Isabel Gomez Barrea</h6>
                                                <p class="card-text mb-0">Cargo: Director General - ENDE SYC</p>
                                                <p class="card-text mb-0">Teléfono: +123 456 789</p>
                                                <p class="card-text mb-0">Correo electrónico: salazar6@email.com</p>
                                                <p class="card-text mb-0">Ubicación: La Paz, Bolivia</p>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div> 
                        <div class="col-md-6">
                            <br>
                            <div class="card" style="border: 2px solid cadetblue;">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-4">
                                        <img src="https://i.pinimg.com/564x/87/53/d3/8753d3098b5566c72af877911c10c0d3.jpg" style="height:90px; width: 90px" class="card-img rounded-circle" alt="Perfil">
                                    </div>
                                    <div class="col-md-8">
                                        <small>
                                            <div class="card-body"; style="font-size: 10px" >
                                                <h6 class="card-title mb-0">Mariana Wonder Lun</h6>
                                                <p class="card-text mb-0">Cargo: Director General - SOFTWAREBOL</p>
                                                <p class="card-text mb-0">Teléfono: +123 456 789</p>
                                                <p class="card-text mb-0">Correo electrónico: correo@example.com</p>
                                                <p class="card-text mb-0">Ubicación: Ciudad, País</p>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function buscarContacto(nombre) {
            var cards = document.querySelectorAll('.card');
            var regex = new RegExp(nombre.trim(), 'i');
            cards.forEach(function (card) {
                var nombreContacto = card.querySelector('.card-title').innerText.trim();
                if (regex.test(nombreContacto)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>
