<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>ENVIADOS</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div class="container-fluid">
            <br/>
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-3">
                    <nav th:replace="layout/navegacion :: navegacion"></nav>
                </div>
                <!-- Main Content -->
                <div class="col-md-9">
                    <!-- Card Header with Search Form -->
                    <div class="card mt-4">
                        <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white">
                            <h4>Enviados</h4>
                            <form th:action="@{/registrosEnviados}" method="get" class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="keyword">
                                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>

                    <!-- Dropdown for Registering Document -->
                    <div class="dropdown mt-4" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Registrar documento Enviado
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form th:action="@{/subirDocumento}" method="post" enctype="multipart/form-data" class="p-3" style="width: 600px;">
                                <div class="form-group">
                                    <label for="fecha">Fecha de envío:</label>
                                    <input type="date" class="form-control" id="fecha" name="fecha" required>
                                </div>
                                <div class="form-group">
                                    <label for="numcite">CITE</label>
                                    <input type="text" class="form-control" id="numcite" name="numcite" required >
                                </div>
                                <div class="form-group">
                                    <label for="remitente">Remitente</label>
                                    <input type="text" class="form-control" id="remitente" name="remitente" required>
                                </div>
                                <div class="form-group">
                                    <label for="destinatario">Destinatario</label>
                                    <input type="text" class="form-control" id="destinatario" name="destinatario" required>
                                </div>
                                <div class="form-group">
                                    <label for="institucion">Institución</label>
                                    <input type="text" class="form-control" id="institucion" name="institucion" required>
                                </div>
                                <div class="form-group">
                                    <label for="referencia">Referencia</label>
                                    <input type="text" class="form-control" id="referencia" name="referencia" required>
                                </div>
                                <div class="form-group">
                                    <label for="estado">Estado</label>
                                    <input type="text" class="form-control" id="estado" name="estado" required>
                                </div>
                                <div class="form-group">
                                    <label for="nota">Nota</label>
                                    <input type="text" class="form-control" id="nota" name="nota" >
                                </div>
                                <!-- File Input -->
                                <div class="form-group">
                                    <label for="inputDocumento">Seleccionar archivo PDF:</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputDocumento" name="file" accept=".pdf" onchange="updateFileName()">
                                        <label class="custom-file-label" for="inputDocumento" id="fileLabel">Seleccionar archivo PDF</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary bg-info mt-2" style="width: 100%;">Subir Documento</button>
                            </form>
                        </div>
                    </div>

                    <br><!-- comment -->

                    <!-- Document Table -->
                    <div >
                        <table class="table table-bordered mt-4">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>Fecha</th>
                                    <th>CITE</th>
                                    <th>Destinatario</th>
                                    <th>Referencia</th>
                                    <th>Estado</th>
                                    <th>Nota</th>
                                    <th>Ver</th>
                                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                                    
                                </tr>
                            </thead>
                            <tbody class="bg-light">
                                <tr th:each="enviado : ${enviados}">
                                    <td th:text="${enviado.fecha}"></td>
                                    <td th:text="${enviado.numcite}"></td>
                                    <td th:text="${enviado.destinatario}"></td>
                                    <td th:text="${enviado.referencia}"></td>
                                    <td th:text="${enviado.estado}"></td>
                                    <td th:text="${enviado.nota}"></td>
                                    <td>
                                        <a th:href="@{'/verDocumento/' + ${enviado.iddocumento}}" class="btn btn-info">Ver</a>
                                    </td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/eliminarDocumento/' + ${enviado.iddocumento}}" class="btn btn-dark">Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>
