<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>LISTADO REGISTROS</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoRegistro">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <nav th:replace="layout/navegacion :: navegacion"></nav>
                    </div>
                    <div class="col-md-9">
                      
                            <div class="card-header d-flex justify-content-between align-items-center bg-light text-dark">
                                <h4>[[#{plantilla.subtitulo}]]</h4>
                                <form th:action="@{/todosLosRegistros}" method="get" class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="keyword">
                                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
                                </form>
                            </div>
                            <div th:if="${registros != null and !registros.empty}">

                                <table class="table table-bordered mt-4">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{titulo.registro}">Registro</th>
                                            <th th:text="#{titulo.remitente}">Remitente</th>
                                            <th th:text="#{titulo.referencia}">Referencia</th>
                                            <th th:text="#{accion.editar}">Editar</th>
                                            <th th:text="#{accion.eliminar}">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="x, contador : ${registros}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${x.numregistro}]]</td>
                                            <td>[[${x.remitente}]]</td>
                                            <td>[[${x.referencia}]]</td>

                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editar/} + ${x.idregistro}"
                                                   class="btn btn-info">
                                                    [[#{accion.editar}]]</i>
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar/} + ${x.idregistro}"
                                                   class="btn btn-dark">
                                                    [[#{accion.eliminar}]]</i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                        <div class="text-center p-2" th:if="${registros == null or registros.empty}">
                            <span th:text="#{registro.lista-vacia}">Lista Vacia</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>