<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>INICIO</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h2>[[#{plantilla.subtitulo}]]</h2>
        <br/>
        <a th:href="@{/agregar}">[[#{accion.agregar}]]</a>
        <br></br>
        <div th:if="${registros != null and !registros.empty}">
            <table border="1">
                <tr>
                    <th>[[#{titulo.numero}]]</th>
                    <th>[[#{titulo.registro}]]</th>
                    <th>[[#{titulo.remitente}]]</th>                    
                    <th>[[#{titulo.cargore}]]</th>
                    <th>[[#{titulo.entidad}]]</th>
                    <th>[[#{titulo.destinatario}]]</th>                    
                    <th>[[#{titulo.referencia}]]</th>
                    <th>[[#{titulo.contenido}]]</th>
                    <th>[[#{titulo.adjunto}]]</th>  
                    <th>[[#{titulo.prioridad}]]</th>
                    <th>[[#{accion.editar}]]</th>
                    <th>[[#{accion.eliminar}]]</th>
                </tr>
                <tr th:each=" x : ${registros}">
                    <td th:text="${x.numero}"></td>
                    <td th:text="${x.numregistro}"</td>
                    <td th:text="${x.remitente}"></td>
                    <td th:text="${x.cargoremitente}"></td>
                    <td th:text="${x.instremitente}"></td>
                    <td th:text="${x.destino}"></td>
                    <td th:text="${x.referencia}"></td>
                    <td th:text="${x.contenido}"></td>
                    <td th:text="${x.adjunto}"></td>
                    <td th:text="${x.prioridad}"></td>
                    <td><a th:href="@{/editar/}+${x.idregistro}" th:text="Editar"></a></td>
                    <td><a th:href="@{/eliminar/}+${x.idregistro}" th:text="Eliminar"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${registros == null or registros.empty}">
            <p>No hay registros</p>
        </div>
    </body>
    <div >
        <br/>
        <a th:href="@{/(lang=es)}">ES</a>|
        <a th:href="@{/(lang=en)}">EN</a>

    </div>
    <br/>
    <form method="POST" th:action="@{/logout}">
        <button type="submit">[[#{accion.salir}]]</button>
    </form>
    <footer th:replace="layout/plantilla :: footer"></footer>
</html>