<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/plantilla :: head">
        <title>INICIO</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    </head>
      
    <body>

        <header th:replace="layout/plantilla :: header"></header>
   </br>
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-3">
                    <nav th:replace="layout/navegacion :: navegacion"></nav>
                </div>
                <!-- Main Content -->

                <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-md-4 main-content">

                  
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-custom card text-white bg-info mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Recibidos <i class="fas fa-envelope-open-text"></i></h5>
                                    <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                                    <a href="todosLosRegistros" class="btn btn-outline-light">Ir a bandeja</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-custom card text-white bg-dark mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Enviados  <i class="fas fa-paper-plane"></i></h5>
                                    <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                                    <a href="enviados" class="btn btn-outline-light">Ir a bandeja</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-custom card text-white bg-info mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Tareas <i class="fas fa-clock"></i></h5>
                                    <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                                    <a href="agregarTarea" class="btn btn-outline-light">Ir a bandeja</a>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <section th:replace="layout/agregarRegistro :: agregarRegistro"></section>
                        </div>
                    </div>
                    <!--<!-- segunda fila -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-custom card text-white bg-info mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Contactos  <i class="fas fa-address-book"></i></h5>
                                    <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                                    <a href="contactos" class="btn btn-outline-light">Ir a bandeja</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-custom card text-white bg-info mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Personal <i class="fas fa-user"></i></h5>
                                    <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                                    <a href="personal" class="btn btn-outline-light">Ir a bandeja</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-custom card text-white bg-info     mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Archivos  <i class="fas fa-archive"></i></h5>
                                    <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                                    <a th:href="@{almacenArchivos}" class="btn btn-outline-light">Ir a bandeja</a>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <section th:replace="layout/agregarRegistro :: agregarRegistro"></section>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
    <br/>
    <footer th:replace="layout/plantilla :: footer"></footer>
</html>