<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/plantilla :: head">
        <title>INICIO</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h2>[[#{plantilla.subtitulo}]]</h2>


        <section th:replace="layout/agregarRegistro :: agregarRegistro"></section>
        <section th:replace="layout/botonesAgregar :: botonesAgregar"></section> 
        <section th:replace="layout/listadoRegistro :: listadoRegistro"></section>

        <!--
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{accion.agregar}]]</a>

        <br></br>
        <div th:if="${registros != null and !registros.empty}">
            <table border="1">
                <tr>
                    <th>[[#{titulo.numero}]]</th>
                    <th>[[#{titulo.registro}]]</th>
                    <th>[[#{titulo.remitente}]]</th>                    
                    <th>[[#{titulo.cargore}]]</th>
                    <th>[[#{titulo.entidad}]]</th>
                    <th>[[#{titulo.destinatario}]]</th>                    
                    <th>[[#{titulo.referencia}]]</th>
                    <th>[[#{titulo.contenido}]]</th>
                    <th>[[#{titulo.adjunto}]]</th>  
                    <th>[[#{titulo.prioridad}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                </tr>
                <tr th:each=" x : ${registros}">
                    <td th:text="${x.numero}"></td>
                    <td th:text="${x.numregistro}"</td>
                    <td th:text="${x.remitente}"></td>
                    <td th:text="${x.cargoremitente}"></td>
                    <td th:text="${x.instremitente}"></td>
                    <td th:text="${x.destino}"></td>
                    <td th:text="${x.referencia}"></td>
                    <td th:text="${x.contenido}"></td>
                    <td th:text="${x.adjunto}"></td>
                    <td th:text="${x.prioridad}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editar/}+${x.idregistro}" th:text="Editar"></a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminar/}+${x.idregistro}" th:text="Eliminar"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${registros == null or registros.empty}">
            <p>No hay registros</p>
        </div>
        -->
    </body>
    <br/>
    <footer th:replace="layout/plantilla :: footer"></footer>
</html>