<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>MODIFICAR</title>
        <meta charset="UTF-8"/>
    </head>


    <h2>[[#{plantilla.subtitulo}]]</h2>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <secction th:replace="~{layout/editarRegistro :: editarRegistro}"></secction>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>

</html>
