<!DOCTYPE html>

<html xmln:th="http://www.thymeleaf.org">
    
    <head th:replace="layout/plantilla :: head">
        <title>BOARD</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h1>Lista de Tareas</h1>
    <a href="/tasks/new">Nueva Tarea</a>
    <table>
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Completada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.description}"></td>
                <td th:text="${task.completed ? 'Sí' : 'No'}"></td>
                <td>
                    <a th:href="@{/tasks/editar/{id}(id=${task.id})}">Editar</a>
                    <a th:href="@{/tasks/eliminar/{id}(id=${task.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    </body>
</html>
